:root {
  --grid-size: 600px;
  --cell-size: calc((var(--grid-size) / 3) - 2px);
  
}

body {
  align-items: center;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: var(--grid-size);
  width: var(--grid-size);
  background-color: #ccd2ea;
}

#grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cell-size);
  width: var(--cell-size);
  border: 2px solid;
  font-size: 170px;
}

#turn {
  color: white;
  margin-top: 20px;
  font-size: 50px;
}

#result {
  color: white;
  margin-top: 20px;
  font-size: 50px;
}